<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b292ec2d-6cac-46e8-ac2a-00d05b1ef3be/resourceGroups/ajay-rg/providers/Microsoft.Web/sites/ITAssistHub</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://itassisthub-gva4etadawejgpcd.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c488d1fa-5481-40d8-a144-8c221ef01fb9</ProjectGuid>
    <PublishUrl>https://itassisthub-gva4etadawejgpcd.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$ITAssistHub</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>